// About page

.about-content {
    padding: 150px 0 0; 
}
.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px 0 50px;

    .member {
        background-color: lightblue;
        width: 315px;
        height: 250px;
        margin: 4px;
        border-radius: 15px;
        transition: all 600ms;
    }
}